<!--*******************************************************************
* 
* ET Marlabs CONFIDENTIAL
* __________________
* 
*  [2011] - [2015] ET Marlabs 
*  All Rights Reserved.
* 
* NOTICE:  All information contained herein is, and remains
* the property of ET Marlabs and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to ET Marlabs
* and its suppliers and may be covered Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reaccountion of this material
* is strictly forbidden unless prior written permission is obtained
* from ET Marlabs.
*
*-->
<!--**
* @author ET Marlabs
* @date 15-Oct-2015
* @description This page is to override Sales order object new button
*-->

<apex:page showHeader="false" sidebar="false" standardController="Expense__c" tabStyle="Expense__c">
    
    <script type="text/javascript" src="/canvas/sdk/js/publisher.js" />

    <script type="text/javascript">

        if(typeof sforce !== "undefined" && sforce !== null) {
            // Salesforce1 navigation
            var urlSf1 = '/apex/ExpenseMobilePage'; 
            sforce.one.navigateToURL(urlSf1);
        } else {
            // Desktop navigation
            //window.location = '/apex/ExpenseManagement?accId='+accountId+'&new=1&retUrl='+returnURL; 
            //&new=1 is to go to new sales order page
        }
    </script>
</apex:page>