<apex:component > 
    <apex:attribute name="FlatList" description="Datasource to create the tree structure from" type="SObject[]" required="true" />
    <apex:attribute name="Display" description="Field name to be used for tree node name" type="String" required="true" />
    <apex:attribute name="NodeId" description="Field name of the Unique identifier for every list item" type="String" required="true" />
    <apex:attribute name="ParentId" description="Field name of the Parent identifier in every list item" type="String" required="true" />
    	<div>
            <div d3-tree="true" data="rootNode"></div>
        </div>
</apex:component>